.back_to_top {
  font-size: 20px;
  padding-top: 3px;
  position: fixed;

  bottom: 70px;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
  background-color: var(--bg-ontop-btn);
  color: var(--accent-color);
  cursor: pointer;
  border-radius: 5px;
  display: none;
  transition: background-color var(--transiton-duration-time) var(--timing-fn);

  @include tablet {
    bottom: 80px;
    right: 17px;
    background-color: transparent;
  }

  &:hover {
    background: var(--accent-color);
    color: var(--bg-color-light);
    transition: background-color var(--transiton-duration-time) var(--timing-fn);
    box-shadow: 3px 3px 6px rgb(11 11 11 / 31%);
  }
}

.back_to_top-show {
  display: block;
}
